# Basic Statistical Testing

In this lecture we're going to review some of the basics of statistical testing in python. We're going to talk about hypothesis testing, statistical significance, and using scipy to run student's t-tests.

In [1]:
# We use statistics in a lot of different ways in data science, and on this lecture, I want to refresh your
# knowledge of hypothesis testing, which is a core data analysis activity behind experimentation. The goal of
# hypothesis testing is to determine if, for instance, the two different conditions we have in an experiment 
# have resulted in different impacts

# Let's import our usual numpy and pandas libraries
import numpy as np
import pandas as pd

# Now let's bring in some new libraries from scipy
from scipy import stats

In [ ]:
# Now, scipy is an interesting collection of libraries for data science and you'll use most or perpahs all of
# these libraries. It includes numpy and pandas, but also plotting libraries such as matplotlib, and a
# number of scientific library functions as well

In [2]:
# When we do hypothesis testing, we actually have two statements of interest: the first is our actual
# explanation, which we call the alternative hypothesis, and the second is that the explanation we have is not
# sufficient, and we call this the null hypothesis. Our actual testing method is to determine whether the null
# hypothesis is true or not. If we find that there is a difference between groups, then we can reject the null
# hypothesis and we accept our alternative.

# Let's see an example of this; we're going to use some grade data
df=pd.read_csv ('datasets/grades.csv')
df.head()

,student_id,assignment1_grade,assignment1_submission,assignment2_grade,assignment2_submission,assignment3_grade,assignment3_submission,assignment4_grade,assignment4_submission,assignment5_grade,assignment5_submission,assignment6_grade,assignment6_submission
0,B73F2C11-70F0-E37D-8B10-1D20AFED50B1,92.733946,2015-11-02 06:55:34.282000000,83.030552,2015-11-09 02:22:58.938000000,67.164441,2015-11-12 08:58:33.998000000,53.011553,2015-11-16 01:21:24.663000000,47.710398,2015-11-20 13:24:59.692000000,38.168318,2015-11-22 18:31:15.934000000
1,98A0FAE0-A19A-13D2-4BB5-CFBFD94031D1,86.790821,2015-11-29 14:57:44.429000000,86.290821,2015-12-06 17:41:18.449000000,69.772657,2015-12-10 08:54:55.904000000,55.098125,2015-12-13 17:32:30.941000000,49.588313,2015-12-19 23:26:39.285000000,44.629482,2015-12-21 17:07:24.275000000
2,D0F62040-CEB0-904C-F563-2F8620916C4E,85.512541,2016-01-09 05:36:02.389000000,85.512541,2016-01-09 06:39:44.416000000,68.410033,2016-01-15 20:22:45.882000000,54.728026,2016-01-11 12:41:50.749000000,49.255224,2016-01-11 17:31:12.489000000,44.329701,2016-01-17 16:24:42.765000000
3,FFDF2B2C-F514-EF7F-6538-A6A53518E9DC,86.030665,2016-04-30 06:50:39.801000000,68.824532,2016-04-30 17:20:38.727000000,61.942079,2016-05-12 07:47:16.326000000,49.553663,2016-05-07 16:09:20.485000000,49.553663,2016-05-24 12:51:18.016000000,44.598297,2016-05-26 08:09:12.058000000
4,5ECBEEB6-F1CE-80AE-3164-E45E99473FB4,64.813800,2015-12-13 17:06:10.750000000,51.491040,2015-12-14 12:25:12.056000000,41.932832,2015-12-29 14:25:22.594000000,36.929549,2015-12-28 01:29:55.901000000,33.236594,2015-12-29 14:46:06.628000000,33.236594,2016-01-05 01:06:59.546000000

In [3]:
# If we take a look at the data frame inside, we see we have six different assignments. Lets look at some
# summary statistics for this DataFrame
print("There are {} rows and {} columns".format(df.shape[0], df.shape[1]))

There are 2315 rows and 13 columns

In [4]:
# For the purpose of this lecture, let's segment this population into two pieces. Let's say those who finish
# the first assignment by the end of December 2015, we'll call them early finishers, and those who finish it 
# sometime after that, we'll call them late finishers.

early_finishers=df[pd.to_datetime(df['assignment1_submission']) < '2016']
early_finishers.head()

,student_id,assignment1_grade,assignment1_submission,assignment2_grade,assignment2_submission,assignment3_grade,assignment3_submission,assignment4_grade,assignment4_submission,assignment5_grade,assignment5_submission,assignment6_grade,assignment6_submission
0,B73F2C11-70F0-E37D-8B10-1D20AFED50B1,92.733946,2015-11-02 06:55:34.282000000,83.030552,2015-11-09 02:22:58.938000000,67.164441,2015-11-12 08:58:33.998000000,53.011553,2015-11-16 01:21:24.663000000,47.710398,2015-11-20 13:24:59.692000000,38.168318,2015-11-22 18:31:15.934000000
1,98A0FAE0-A19A-13D2-4BB5-CFBFD94031D1,86.790821,2015-11-29 14:57:44.429000000,86.290821,2015-12-06 17:41:18.449000000,69.772657,2015-12-10 08:54:55.904000000,55.098125,2015-12-13 17:32:30.941000000,49.588313,2015-12-19 23:26:39.285000000,44.629482,2015-12-21 17:07:24.275000000
4,5ECBEEB6-F1CE-80AE-3164-E45E99473FB4,64.813800,2015-12-13 17:06:10.750000000,51.491040,2015-12-14 12:25:12.056000000,41.932832,2015-12-29 14:25:22.594000000,36.929549,2015-12-28 01:29:55.901000000,33.236594,2015-12-29 14:46:06.628000000,33.236594,2016-01-05 01:06:59.546000000
5,D09000A0-827B-C0FF-3433-BF8FF286E15B,71.647278,2015-12-28 04:35:32.836000000,64.052550,2016-01-03 21:05:38.392000000,64.752550,2016-01-07 08:55:43.692000000,57.467295,2016-01-11 00:45:28.706000000,57.467295,2016-01-11 00:54:13.579000000,57.467295,2016-01-20 19:54:46.166000000
8,C9D51293-BD58-F113-4167-A7C0BAFCB6E5,66.595568,2015-12-25 02:29:28.415000000,52.916454,2015-12-31 01:42:30.046000000,48.344809,2016-01-05 23:34:02.180000000,47.444809,2016-01-02 07:48:42.517000000,37.955847,2016-01-03 21:27:04.266000000,37.955847,2016-01-19 15:24:31.060000000

In [ ]:
# So, you have lots of skills now with pandas, how would you go about getting the late_finishers dataframe?
# Why don't you pause the video and give it a try.

In [5]:
# Here's my solution. First, the dataframe df and the early_finishers share index values, so I really just
# want everything in the df which is not in early_finishers
late_finishers=df[~df.index.isin(early_finishers.index)]
late_finishers.head()

,student_id,assignment1_grade,assignment1_submission,assignment2_grade,assignment2_submission,assignment3_grade,assignment3_submission,assignment4_grade,assignment4_submission,assignment5_grade,assignment5_submission,assignment6_grade,assignment6_submission
2,D0F62040-CEB0-904C-F563-2F8620916C4E,85.512541,2016-01-09 05:36:02.389000000,85.512541,2016-01-09 06:39:44.416000000,68.410033,2016-01-15 20:22:45.882000000,54.728026,2016-01-11 12:41:50.749000000,49.255224,2016-01-11 17:31:12.489000000,44.329701,2016-01-17 16:24:42.765000000
3,FFDF2B2C-F514-EF7F-6538-A6A53518E9DC,86.030665,2016-04-30 06:50:39.801000000,68.824532,2016-04-30 17:20:38.727000000,61.942079,2016-05-12 07:47:16.326000000,49.553663,2016-05-07 16:09:20.485000000,49.553663,2016-05-24 12:51:18.016000000,44.598297,2016-05-26 08:09:12.058000000
6,3217BE3F-E4B0-C3B6-9F64-462456819CE4,87.498744,2016-03-05 11:05:25.408000000,69.998995,2016-03-09 07:29:52.405000000,55.999196,2016-03-16 22:31:24.316000000,50.399276,2016-03-18 07:19:26.032000000,45.359349,2016-03-19 10:35:41.869000000,45.359349,2016-03-23 14:02:00.987000000
7,F1CB5AA1-B3DE-5460-FAFF-BE951FD38B5F,80.576090,2016-01-24 18:24:25.619000000,72.518481,2016-01-27 13:37:12.943000000,65.266633,2016-01-30 14:34:36.581000000,65.266633,2016-02-03 22:08:49.002000000,65.266633,2016-02-16 14:22:23.664000000,65.266633,2016-02-18 08:35:04.796000000
9,E2C617C2-4654-622C-AB50-1550C4BE42A0,59.270882,2016-03-06 12:06:26.185000000,59.270882,2016-03-13 02:07:25.289000000,53.343794,2016-03-17 07:30:09.241000000,53.343794,2016-03-20 21:45:56.229000000,42.675035,2016-03-27 15:55:04.414000000,38.407532,2016-03-30 20:33:13.554000000

In [ ]:
# There are lots of other ways to do this. For instance, you could just copy and paste the first projection
# and change the sign from less than to greater than or equal to. This is ok, but if you decide you want to
# change the date down the road you have to remember to change it in two places. You could also do a join of
# the dataframe df with early_finishers - if you do a left join you only keep the items in the left dataframe,
# so this would have been a good answer. You also could have written a function that determines if someone is
# early or late, and then called .apply() on the dataframe and added a new column to the dataframe. This is a
# pretty reasonable answer as well.

In [6]:
# As you've seen, the pandas data frame object has a variety of statistical functions associated with it. If
# we call the mean function directly on the data frame, we see that each of the means for the assignments are
# calculated. Let's compare the means for our two populations

print(early_finishers['assignment1_grade'].mean())
print(late_finishers['assignment1_grade'].mean())

74.94728457024304
74.0450648477065

In [7]:
# Ok, these look pretty similar. But, are they the same? What do we mean by similar? This is where the
# students' t-test comes in. It allows us to form the alternative hypothesis ("These are different") as well
# as the null hypothesis ("These are the same") and then test that null hypothesis.

# When doing hypothesis testing, we have to choose a significance level as a threshold for how much of a
# chance we're willing to accept. This significance level is typically called alpha. #For this example, let's
# use a threshold of 0.05 for our alpha or 5%. Now this is a commonly used number but it's really quite
# arbitrary.

# The SciPy library contains a number of different statistical tests and forms a basis for hypothesis testing
# in Python and we're going to use the ttest_ind() function which does an independent t-test (meaning the
# populations are not related to one another). The result of ttest_index() are the t-statistic and a p-value.
# It's this latter value, the probability, which is most important to us, as it indicates the chance (between
# 0 and 1) of our null hypothesis being True.

# Let's bring in our ttest_ind function
from scipy.stats import ttest_ind

# Let's run this function with our two populations, looking at the assignment 1 grades
ttest_ind(early_finishers['assignment1_grade'], late_finishers['assignment1_grade'])

Ttest_indResult(statistic=1.3223540853721596, pvalue=0.18618101101713855)

In [ ]:
# So here we see that the probability is 0.18, and this is above our alpha value of 0.05. This means that we
# cannot reject the null hypothesis. The null hypothesis was that the two populations are the same, and we
# don't have enough certainty in our evidence (because it is greater than alpha) to come to a conclusion to
# the contrary. This doesn't mean that we have proven the populations are the same.

In [8]:
# Why don't we check the other assignment grades?
print(ttest_ind(early_finishers['assignment2_grade'], late_finishers['assignment2_grade']))
print(ttest_ind(early_finishers['assignment3_grade'], late_finishers['assignment3_grade']))
print(ttest_ind(early_finishers['assignment4_grade'], late_finishers['assignment4_grade']))
print(ttest_ind(early_finishers['assignment5_grade'], late_finishers['assignment5_grade']))
print(ttest_ind(early_finishers['assignment6_grade'], late_finishers['assignment6_grade']))

Ttest_indResult(statistic=1.2514717608216366, pvalue=0.2108889627004424)
Ttest_indResult(statistic=1.6133726558705392, pvalue=0.10679998102227865)
Ttest_indResult(statistic=0.049671157386456125, pvalue=0.960388729789337)
Ttest_indResult(statistic=-0.05279315545404755, pvalue=0.9579012739746492)
Ttest_indResult(statistic=-0.11609743352612056, pvalue=0.9075854011989656)

In [ ]:
# Ok, so it looks like in this data we do not have enough evidence to suggest the populations differ with
# respect to grade. Let's take a look at those p-values for a moment though, because they are saying things
# that can inform experimental design down the road. For instance, one of the assignments, assignment 3, has a
# p-value around 0.1. This means that if we accepted a level of chance similarity of 11% this would have been
# considered statistically significant. As a research, this would suggest to me that there is something here
# worth considering following up on. For instance, if we had a small number of participants (we don't) or if
# there was something unique about this assignment as it relates to our experiment (whatever it was) then
# there may be followup experiments we could run.

In [13]:
# P-values have come under fire recently for being insuficient for telling us enough about the interactions
# which are happening, and two other techniques, confidence intervalues and bayesian analyses, are being used
# more regularly. One issue with p-values is that as you run more tests you are likely to get a value which
# is statistically significant just by chance.

# Lets see a simulation of this. First, lets create a data frame of 100 columns, each with 100 numbers
df1=pd.DataFrame([np.random.random(100) for x in range(100)])
df1.head(100)

,0,1,2,3,4,5,6,7,8,9,...,90,91,92,93,94,95,96,97,98,99
0,0.541367,0.499728,0.807053,0.655107,0.299440,0.904806,0.998467,0.172490,0.462287,0.519558,...,0.749565,0.299805,0.281296,0.074845,0.562370,0.142363,0.581030,0.232183,0.032174,0.220358
1,0.297622,0.869089,0.030987,0.326301,0.987612,0.169618,0.161504,0.715943,0.975676,0.139749,...,0.130547,0.904452,0.069924,0.520612,0.583403,0.594658,0.766131,0.773027,0.959532,0.692134
2,0.952366,0.986106,0.381119,0.044707,0.449979,0.658996,0.646066,0.506740,0.501282,0.651106,...,0.027194,0.774118,0.216456,0.464892,0.381277,0.632936,0.366172,0.463678,0.117164,0.213431
3,0.753279,0.112823,0.829767,0.784727,0.670875,0.249509,0.182471,0.142174,0.572918,0.593286,...,0.503132,0.443630,0.811697,0.101460,0.763804,0.012198,0.557286,0.478214,0.167501,0.592090
4,0.136437,0.244037,0.863577,0.109563,0.423611,0.535047,0.176553,0.162358,0.619758,0.234858,...,0.803811,0.407423,0.640169,0.058056,0.854251,0.308733,0.681101,0.167401,0.542365,0.361740
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,0.751336,0.565336,0.308839,0.204253,0.519997,0.536602,0.818013,0.602453,0.752402,0.639810,...,0.484049,0.416422,0.261538,0.165869,0.254032,0.653366,0.458699,0.588328,0.252902,0.613601
96,0.092768,0.284439,0.347772,0.365209,0.970549,0.272444,0.066203,0.147923,0.239579,0.778445,...,0.985813,0.885643,0.937613,0.856761,0.933612,0.267990,0.244932,0.411993,0.770856,0.733231
97,0.454108,0.601594,0.637601,0.174317,0.369725,0.840165,0.770363,0.919860,0.460784,0.428143,...,0.758172,0.915873,0.344037,0.239228,0.801280,0.585033,0.239711,0.376947,0.315937,0.231446
98,0.893556,0.429564,0.434903,0.776909,0.516753,0.955166,0.562472,0.892240,0.021033,0.542968,...,0.589990,0.438538,0.034371,0.680478,0.478182,0.639490,0.192326,0.533765,0.662178,0.892212
99,0.350410,0.639466,0.738538,0.972314,0.810602,0.440500,0.291608,0.770394,0.878814,0.949803,...,0.981735,0.899587,0.697192,0.786571,0.574858,0.439398,0.092137,0.027009,0.476654,0.886341

In [ ]:
# Pause this and reflect -- do you understand the list comprehension and how I created this DataFrame? You
# don't have to use a list comprehension to do this, but you should be able to read this and figure out how it
# works as this is a commonly used approach on web forums.

In [12]:
# Ok, let's create a second dataframe
df2=pd.DataFrame([np.random.random(100) for x in range(100)])
df2.head(100)

,0,1,2,3,4,5,6,7,8,9,...,90,91,92,93,94,95,96,97,98,99
0,0.731845,0.058837,0.634939,0.387533,0.226950,0.938067,0.236040,0.670107,0.997911,0.498374,...,0.405584,0.167525,0.731977,0.127116,0.076552,0.813236,0.375260,0.616871,0.380524,0.900158
1,0.165593,0.599946,0.848935,0.678994,0.700544,0.947945,0.050886,0.665634,0.644783,0.696752,...,0.191623,0.444310,0.232892,0.288399,0.395567,0.995722,0.755180,0.863404,0.733236,0.696823
2,0.084674,0.709586,0.602072,0.105543,0.196175,0.997832,0.397550,0.070605,0.890167,0.245129,...,0.881051,0.568322,0.088173,0.470210,0.890530,0.562651,0.170616,0.570422,0.151033,0.854946
3,0.671798,0.793018,0.197872,0.496174,0.644296,0.468175,0.254189,0.735350,0.858895,0.911362,...,0.322834,0.053753,0.581098,0.352787,0.976227,0.665901,0.127453,0.554918,0.241170,0.318759
4,0.048646,0.802825,0.220312,0.789839,0.181312,0.546379,0.013825,0.014619,0.343177,0.703645,...,0.105588,0.641620,0.727520,0.628727,0.197455,0.873338,0.633796,0.726976,0.979885,0.088017
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,0.432746,0.447465,0.455656,0.478733,0.921808,0.288910,0.982246,0.756979,0.340025,0.013691,...,0.968283,0.927920,0.378156,0.437923,0.569334,0.361461,0.375103,0.049587,0.205736,0.838234
96,0.124798,0.817625,0.306946,0.172728,0.988982,0.981072,0.792537,0.879313,0.218042,0.275116,...,0.589957,0.000111,0.295797,0.990316,0.205165,0.232824,0.900829,0.493136,0.884007,0.847207
97,0.009997,0.950930,0.178133,0.267099,0.793319,0.260900,0.699374,0.888738,0.843165,0.594185,...,0.315444,0.611496,0.758701,0.392565,0.834846,0.637275,0.734507,0.402906,0.282282,0.762346
98,0.432511,0.471348,0.333070,0.685902,0.668878,0.236656,0.103780,0.475410,0.170456,0.076524,...,0.159856,0.460246,0.215078,0.865634,0.840531,0.741032,0.129171,0.697134,0.700689,0.571290
99,0.526777,0.148581,0.862349,0.570301,0.177639,0.597963,0.205222,0.653207,0.097084,0.286608,...,0.706605,0.226469,0.862767,0.971754,0.594504,0.149940,0.189055,0.191174,0.115229,0.703128

In [14]:
# Are these two DataFrames the same? Maybe a better question is, for a given row inside of df1, is it the same
# as the row inside df2?

# Let's take a look. Let's say our critical value is 0.1, or and alpha of 10%. And we're going to compare each
# column in df1 to the same numbered column in df2. And we'll report when the p-value isn't less than 10%,
# which means that we have sufficient evidence to say that the columns are different.

# Let's write this in a function called test_columns
def test_columns(alpha=0.1):
    # I want to keep track of how many differ
    num_diff=0
    # And now we can just iterate over the columns
    for col in df1.columns:
        # we can run out ttest_ind between the two dataframes
        teststat,pval=ttest_ind(df1[col],df2[col])
        # and we check the pvalue versus the alpha
        if pval<=alpha:
            # And now we'll just print out if they are different and increment the num_diff
            print("Col {} is statistically significantly different at alpha={}, pval={}".format(col,alpha,pval))
            num_diff=num_diff+1
    # and let's print out some summary stats
    print("Total number different was {}, which is {}%".format(num_diff,float(num_diff)/len(df1.columns)*100))

# And now lets actually run this
test_columns()

Col 0 is statistically significantly different at alpha=0.1, pval=0.043940577881088405
Col 4 is statistically significantly different at alpha=0.1, pval=0.04693498413501739
Col 15 is statistically significantly different at alpha=0.1, pval=0.0007054140440148039
Col 33 is statistically significantly different at alpha=0.1, pval=0.024814042352764024
Col 57 is statistically significantly different at alpha=0.1, pval=0.020936271695736565
Col 71 is statistically significantly different at alpha=0.1, pval=0.03635563900492905
Col 74 is statistically significantly different at alpha=0.1, pval=0.05675176189582346
Total number different was 7, which is 7.000000000000001%

In [15]:
# Interesting, so we see that there are a bunch of columns that are different! In fact, that number looks a
# lot like the alpha value we chose. So what's going on - shouldn't all of the columns be the same? Remember
# that all the ttest does is check if two sets are similar given some level of confidence, in our case, 10%.
# The more random comparisons you do, the more will just happen to be the same by chance. In this example, we
# checked 100 columns, so we would expect there to be roughly 10 of them if our alpha was 0.1.

# We can test some other alpha values as well
test_columns(0.05)

Col 0 is statistically significantly different at alpha=0.05, pval=0.043940577881088405
Col 4 is statistically significantly different at alpha=0.05, pval=0.04693498413501739
Col 15 is statistically significantly different at alpha=0.05, pval=0.0007054140440148039
Col 33 is statistically significantly different at alpha=0.05, pval=0.024814042352764024
Col 57 is statistically significantly different at alpha=0.05, pval=0.020936271695736565
Col 71 is statistically significantly different at alpha=0.05, pval=0.03635563900492905
Total number different was 6, which is 6.0%

In [16]:
# So, keep this in mind when you are doing statistical tests like the t-test which has a p-value. Understand
# that this p-value isn't magic, that it's a threshold for you when reporting results and trying to answer
# your hypothesis. What's a reasonable threshold? Depends on your question, and you need to engage domain
# experts to better understand what they would consider significant.

# Just for fun, lets recreate that second dataframe using a non-normal distribution, I'll arbitrarily chose
# chi squared
df2=pd.DataFrame([np.random.chisquare(df=1,size=100) for x in range(100)])
test_columns()

Col 0 is statistically significantly different at alpha=0.1, pval=0.0012352754609455815
Col 1 is statistically significantly different at alpha=0.1, pval=0.014620791410540873
Col 2 is statistically significantly different at alpha=0.1, pval=0.032489516387072814
Col 3 is statistically significantly different at alpha=0.1, pval=0.0035944358959361044
Col 4 is statistically significantly different at alpha=0.1, pval=0.00022758116568480325
Col 5 is statistically significantly different at alpha=0.1, pval=0.005243719920490661
Col 6 is statistically significantly different at alpha=0.1, pval=0.00015754562841493422
Col 7 is statistically significantly different at alpha=0.1, pval=5.160130987645787e-05
Col 8 is statistically significantly different at alpha=0.1, pval=0.019042550498014267
Col 9 is statistically significantly different at alpha=0.1, pval=4.718956540047182e-06
Col 10 is statistically significantly different at alpha=0.1, pval=0.00010409661947742552
Col 11 is statistically significantly different at alpha=0.1, pval=0.00010836654898661407
Col 12 is statistically significantly different at alpha=0.1, pval=0.012002048403733926
Col 13 is statistically significantly different at alpha=0.1, pval=0.00010884195932271897
Col 14 is statistically significantly different at alpha=0.1, pval=0.00045772321641078073
Col 15 is statistically significantly different at alpha=0.1, pval=0.008921815477718182
Col 16 is statistically significantly different at alpha=0.1, pval=0.0015969769247826517
Col 18 is statistically significantly different at alpha=0.1, pval=7.112183738809662e-05
Col 19 is statistically significantly different at alpha=0.1, pval=5.862634539697536e-05
Col 20 is statistically significantly different at alpha=0.1, pval=0.000514296445415969
Col 21 is statistically significantly different at alpha=0.1, pval=0.029929822592539672
Col 22 is statistically significantly different at alpha=0.1, pval=0.006149803291335457
Col 23 is statistically significantly different at alpha=0.1, pval=0.03877446828383313
Col 24 is statistically significantly different at alpha=0.1, pval=7.278246894607557e-05
Col 25 is statistically significantly different at alpha=0.1, pval=0.03966677984474546
Col 26 is statistically significantly different at alpha=0.1, pval=5.0483653042176654e-05
Col 27 is statistically significantly different at alpha=0.1, pval=0.0029009112186869634
Col 28 is statistically significantly different at alpha=0.1, pval=0.0018238553251988426
Col 29 is statistically significantly different at alpha=0.1, pval=7.484405468851287e-06
Col 30 is statistically significantly different at alpha=0.1, pval=9.162448628066847e-06
Col 31 is statistically significantly different at alpha=0.1, pval=0.0002458587325990278
Col 32 is statistically significantly different at alpha=0.1, pval=0.00013896847208144173
Col 33 is statistically significantly different at alpha=0.1, pval=0.00030703457630855044
Col 34 is statistically significantly different at alpha=0.1, pval=0.000285286933847752
Col 35 is statistically significantly different at alpha=0.1, pval=0.0013356433699125226
Col 36 is statistically significantly different at alpha=0.1, pval=0.014649468894580159
Col 37 is statistically significantly different at alpha=0.1, pval=6.367326432817886e-05
Col 38 is statistically significantly different at alpha=0.1, pval=0.0008123726201527232
Col 39 is statistically significantly different at alpha=0.1, pval=4.120240895481267e-05
Col 40 is statistically significantly different at alpha=0.1, pval=2.9108919720382745e-06
Col 41 is statistically significantly different at alpha=0.1, pval=0.00047587660024426697
Col 42 is statistically significantly different at alpha=0.1, pval=0.0004885797187886528
Col 43 is statistically significantly different at alpha=0.1, pval=0.04381676467661483
Col 44 is statistically significantly different at alpha=0.1, pval=0.0004704607838648356
Col 45 is statistically significantly different at alpha=0.1, pval=0.001356686024792343
Col 46 is statistically significantly different at alpha=0.1, pval=2.8462048313124954e-05
Col 47 is statistically significantly different at alpha=0.1, pval=2.0572610729826346e-05
Col 48 is statistically significantly different at alpha=0.1, pval=0.0002819813106867019
Col 49 is statistically significantly different at alpha=0.1, pval=0.00012557347854328136
Col 50 is statistically significantly different at alpha=0.1, pval=0.0003014683032256921
Col 51 is statistically significantly different at alpha=0.1, pval=1.911402898093927e-05
Col 52 is statistically significantly different at alpha=0.1, pval=0.0007150440960557721
Col 53 is statistically significantly different at alpha=0.1, pval=0.0011076696249547576
Col 54 is statistically significantly different at alpha=0.1, pval=0.001305922537109029
Col 55 is statistically significantly different at alpha=0.1, pval=0.0059449841907272954
Col 56 is statistically significantly different at alpha=0.1, pval=8.307464338229819e-05
Col 57 is statistically significantly different at alpha=0.1, pval=2.6589339418069452e-05
Col 58 is statistically significantly different at alpha=0.1, pval=0.0014823431595524285
Col 59 is statistically significantly different at alpha=0.1, pval=9.298031201906842e-07
Col 60 is statistically significantly different at alpha=0.1, pval=0.001948903277103997
Col 61 is statistically significantly different at alpha=0.1, pval=0.00230828197823125
Col 62 is statistically significantly different at alpha=0.1, pval=1.424472921498589e-05
Col 63 is statistically significantly different at alpha=0.1, pval=4.51619960946918e-05
Col 64 is statistically significantly different at alpha=0.1, pval=2.2326655516561262e-05
Col 65 is statistically significantly different at alpha=0.1, pval=0.0030979678263583525
Col 66 is statistically significantly different at alpha=0.1, pval=0.000755895895157397
Col 67 is statistically significantly different at alpha=0.1, pval=5.424362993440818e-06
Col 68 is statistically significantly different at alpha=0.1, pval=2.2026322242639976e-06
Col 69 is statistically significantly different at alpha=0.1, pval=3.631462550079268e-07
Col 70 is statistically significantly different at alpha=0.1, pval=0.004018987154779072
Col 71 is statistically significantly different at alpha=0.1, pval=0.0002053650842245101
Col 72 is statistically significantly different at alpha=0.1, pval=0.004849177483623524
Col 73 is statistically significantly different at alpha=0.1, pval=1.2895263331458828e-06
Col 74 is statistically significantly different at alpha=0.1, pval=3.831336469568854e-05
Col 75 is statistically significantly different at alpha=0.1, pval=0.0004902439111250017
Col 76 is statistically significantly different at alpha=0.1, pval=0.00506217608201152
Col 77 is statistically significantly different at alpha=0.1, pval=0.016695008686716417
Col 78 is statistically significantly different at alpha=0.1, pval=0.00040693801557689543
Col 79 is statistically significantly different at alpha=0.1, pval=0.009306785110525073
Col 80 is statistically significantly different at alpha=0.1, pval=7.048398953506676e-05
Col 81 is statistically significantly different at alpha=0.1, pval=0.0014506695166278227
Col 82 is statistically significantly different at alpha=0.1, pval=0.00010092216617714257
Col 83 is statistically significantly different at alpha=0.1, pval=0.0019205617654813503
Col 84 is statistically significantly different at alpha=0.1, pval=0.0004982054103280573
Col 85 is statistically significantly different at alpha=0.1, pval=0.00048748477007522835
Col 86 is statistically significantly different at alpha=0.1, pval=0.015804536911723788
Col 87 is statistically significantly different at alpha=0.1, pval=0.000729530906972665
Col 88 is statistically significantly different at alpha=0.1, pval=0.001347914592078347
Col 89 is statistically significantly different at alpha=0.1, pval=0.00043275401703358937
Col 90 is statistically significantly different at alpha=0.1, pval=0.003237030367583876
Col 91 is statistically significantly different at alpha=0.1, pval=0.000744829772258105
Col 92 is statistically significantly different at alpha=0.1, pval=0.00011146053063553054
Col 93 is statistically significantly different at alpha=0.1, pval=0.002489856386061559
Col 94 is statistically significantly different at alpha=0.1, pval=0.0009531520660967317
Col 95 is statistically significantly different at alpha=0.1, pval=3.0363157932207084e-05
Col 96 is statistically significantly different at alpha=0.1, pval=1.0462144470438541e-05
Col 97 is statistically significantly different at alpha=0.1, pval=0.00016536054472158574
Col 98 is statistically significantly different at alpha=0.1, pval=0.00013734412018355993
Col 99 is statistically significantly different at alpha=0.1, pval=0.002454356799702668
Total number different was 99, which is 99.0%

In [ ]:
# Now we see that all or most columns test to be statistically significant at the 10% level.

In this lecture, we've discussed just some of the basics of hypothesis testing in Python. I introduced you to the SciPy library, which you can use for the students t test. We've discussed some of the practical issues which arise from looking for statistical significance. There's much more to learn about hypothesis testing, for instance, there are different tests used, depending on the shape of your data and different ways to report results instead of just p-values such as confidence intervals or bayesian analyses. But this should give you a basic idea of where to start when comparing two populations for differences, which is a common task for data scientists.